*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body{
	background-color: #F7F7F7;
	padding: 25px;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
	color: #236B8E;
}

#main-container{
	background-color: #FFF;
	padding: 25px;
	border-radius: 5px;
	border: solid 2px #EDEDED;
}

/*HEADER - NAVBAR*/

header{
/*	width: : 100%;*/
	overflow: hidden;
	border-bottom: solid 2px #EDEDED;
}

#menu-icon{
	width: 70px;
	height: 70px;
	display: none;
	float: right;
}

#menu-icon img{
	width: 100%;
	height: auto;
}

nav ul li{
	float: left;
	padding: 5px 10px;
	font-size: 90%;
	margin: 5px 10px;
}

nav ul li:hover{
	color: #FFF;
	background-color: #236B8E;
}

nav ul ul{
	display: none;
	position: absolute;
	background-color: #236B8E;
}

nav ul li:hover > ul{
	display: block;
}

nav ul ul li{
	float: none;
	position: relative;
}

nav ul ul li:hover{
	background-color: #35586C;
}

#search{
	float: right;
	padding: 15px;
	padding-top: 10px;
}

#search input{
	margin-right: 0;
	border-radius: 5px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border: solid 1px #EDEDED;
	height: 25px;
}

#search button{
	height: 25px;
	border-radius: 5px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	background-color: #236B8E;
	border: 1px solid #236B8E;
	color: #FFF;
	padding-right: 5px;
	padding-left: 5px;
}

/*BODY CONTENT*/

.content{
	margin-top: 20px;
	overflow: hidden;
}

.post{
	width: 70%;
	border-right: solid 2px #EDEDED;
	float: left;
	padding-right: 20px;
}

.individual-post{
	padding: 20px 0;
	border-bottom: solid 2px #EDEDED; 
}

/*Image*/

.thumbnail{
	width: 200px;
	border: solid 1px #EDEDED;
	padding: 5px;
	margin-right: 20px;
	float: left;
	display: inline-block;
}

.img-preview{
	display: block;
	max-width: 100%;
	width: 200px;
	height: 130px;
}

.subtitle{
	background-color: #236B8E;
	text-align: center;
	color: #FFF;
	padding: 5px 0;
}

/*Post details*/

.title{
	font-size: 170%;
	padding-bottom: 10px;
}

.detail{
	display: block;
	font-size: 90%;
}

.date-comment{
	border: solid 1px #EDEDED;
	border-left: none;
	border-right: none;
	overflow: hidden;
	padding: 5px 0; 
}

.date{
	float: left;
}

.comment{
	float: right;
}

.topic-author{
	overflow: hidden;
	padding: 5px 0;
	border-bottom: solid 1px #EDEDED;
}

.author{
	float: right;
}

.topic{
	float: left;
}

.paragraph-preview{
	padding: 5px;
}

/*ADS*/

.ads{
	width: 20%;
	float: left;
	padding: 0 15px;
}

.ads-img{
	margin: 0 auto;
	max-width: 500px;
	width: auto;
	height: auto;
}

/*MEDIA QUERY*/

@media screen and (max-width: 1240px){
	.title{
		font-size: 120%;
	}
}

@media screen and (max-width: 1000px){
	.post{
		width: 100%;
	}
	.ads{
		padding-top: 20px;
		width: 100%;
		float: left;
		left: -50%;
	}
	.ads-img{
		max-width: 40%;
	}
}

@media screen and (max-width: 770px){
	body{
		padding: 10px;
	}
	.title{
		font-size: 50%;
	}
	.thumbnail{
		width: 100px;
	}
	.img-preview{
		width: 100px;
		height: 65px;
	}
	.subtitle{
		font-size: 70%;
	}
	.detail{
		font-size: 50%;
	}
	.detail div{
		padding: 2px;
	}
}

@media screen and (max-width: 400px){
	.title{
		font-size: 35%;
	}
	.thumbnail{
		width: 90px;
	}
	.img-preview{
		width: 90px;
		height: 55px;
	}
	.subtitle{
		font-size: 50%;
	}
	.detail{
		font-size: 35%;
	}
	#menu-icon{
		width: 25px;
		height: 25px;
	}
	#menu-icon img{
		width: 25px;
		height: 25px;
	}
}

/*Responsive Navbar*/

@media screen and (max-width: 1200px){
	nav ul{
		display: none;
	}
	#search{
		display: none;
	}
	#menu-icon{
		display: inline-block;
	}

}